# Dependencies
/node_modules
/symfony-backend/vendor
/react-native-app/node_modules

# Environment files
.env
.env.local
.env.*.local

# Build files
/build
/dist
/symfony-backend/var
/react-native-app/build
/react-native-app/android/app/build
/react-native-app/ios/build

# Expo files
/react-native-app/.expo
/react-native-app/.expo-shared
/react-native-app/web-build

# Babel cache files
/react-native-app/.expo/web/cache/development/babel-loader
*.json.cache
*.babel-loader-*.json

# IDE files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*